* {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

body {
    background-color: #F9FAFB;
    margin: 0;
}

h1 {
    margin: 100px auto 30px;
    font-weight: bold;
    font-size: 3rem;
    text-align: center;
}



.top-container {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    background-color: #fff;
    min-height: 60px;
}



.logo-tag:hover {
    background-image: linear-gradient(#c5f906, rgb(0, 242, 97));
    border-radius: 10px;
}



.menu-item {
    padding: 0 0.5rem;
    text-decoration: none;
    color: #000;
    font-size: 1.2rem;
}

.menu-bar a:hover {
    background-color: #79a283;
    border-radius: 8px;
}

.top-btn {
    left: 80%;
    border: none;
    background-image: linear-gradient(#7F56D9, rgb(205, 40, 40));
    color: #fff;
    padding: 10px 15px;
    border-radius: 6px;
    cursor: pointer;
    text-decoration: none;
    font-size: 16px;
    margin: 4px 2px;
}

.top-btn:hover {
    background-image: linear-gradient(rgb(67, 8, 243), #07f475);
    color: #000;
}

.middle-container {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}



.first-p {
    margin: 0 auto;
    line-height: 2;
    color: #667085;
    text-align: center;
    font-size: 1.2rem;
}


.macbook {
    margin: 5rem auto;
    width: 50%;
}

.buttom-container {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 100px auto 20px;
}



.companies {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0px;
    gap: 6rem;
    height: 100px;
}

.items {
    display: flex;
    justify-content: center;
    align-items: flex-start;
}

.companies-items {
    padding: auto;
    text-decoration: none;
    color: #000;
    font-size: 150%;
    padding-top: 5px;
    padding-left: 10px
}

.buttom-logo {
    width: 44px;
}

.exception {
    padding-top: 20px;
}

.contact {
    display: flex;
    position: fixed;
    bottom: 50px;
    right: 50px;
    align-items: center;
    justify-content: center;
}

#logo-img:hover {
    width: 80%;
}

#contact-img {
    width: 50px;
    height: 50px;
}


#buttom-p {
    color: #667085;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
}

@media only screen and (max-width: 1150px) {
    .companies {
        gap: 0;
    }

    .macbook {
        width: 100%;
    }
}

@media only screen and (max-width: 800px) {
    .top-container {
        flex-direction: column;
        align-items: center;
    }

    .menu-bar {
        display: flex;
        flex-direction: column;
        align-items: first baseline;
    }

    .menu-item {
        font-size: 2rem;
    }

    .companies {
        gap: 1rem;
        flex-direction: column;
    }


    .top-btn {
        width: 100%;
        height: 70px;
        font-size: 1.5rem;
    }

    .first-p {
        font-size: 1.5rem;
    }

    .macbook {
        width: 100%;
    }

    .buttom-container {
        margin: 0 auto;
    }

    .contact {
        bottom: 20px;
        right: 20px;
    }

    #logo-img {
        width: 200px !important;
    }

    #contact-img {
        width: 80px;
        height: 80px;
    }

    #buttom-p {
        font-size: 1.5rem;
        text-align: center;
        line-height: 2;
    }
}